:root {
    --color-axion: #2196F3;
    --color-primary: #212121;

    --color-secondary: #757575;
    --color-white: #fff;
    
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--color-primary);
}

a {
    text-decoration: none;
}
.logo{
    font-family: 'Raleway', sans-serif;
    color: var(--color-axion);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}

.logo-studio {
    color:#000;
}

.header-background {
    background-color: #FFFFFF;
}

.header-link {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.143;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.header-link:hover{
    color: var(--color-axion);
}
.haeder-link:focus{
    color: var(--color-axion);
}
.active-link {
    color: var(--color-axion);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.143;
    font-weight: 500;
}

.header-email {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.143;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-email:hover {
    color: var(--color-axion);
}

.header-email:focus {
    color: var(--color-axion);
}

.header-num {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.143;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.header-num:hover {
    color: var(--color-axion);
}

.header-num:focus {
    color: var(--color-axion);
}

.hero-section {
    background-color: #2F303A;
}

.hero-title {
    color: var(--color-white);
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;

}

.big-button {
    font-style: inherit;
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--color-axion);
    border: none;
    cursor: pointer;
}

.heading-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
}

p {
    color: var(--color-secondary);
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.heading-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.313;
    letter-spacing: 0.03em;
}

.team-subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

.profesion {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
}

.last-section {
    background-color: #F5F4FA;
}

.footer-background {
    background-color: #2F303A;
}

.address {
    color: var(--color-white);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.footer-email {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.footer-email:hover {
    color: var(--color-axion);
}

.footer-email:focus {
    color: var(--color-axion);
}

.footer-num {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.footer-num:hover {
    color: var(--color-axion);
}

.footer-num:focus {
    color: var(--color-axion);
}


.profile-section {
    background-color: #F5F4FA;
}

.button {
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.06em;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.active-button {
    color: var(--color-white);
    font-style: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.06em;
    background-color: var(--color-axion);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.button:hover{
    color: var(--color-white);
    background-color: var(--color-axion);
}
.button-focus{
    color: var(--color-white);
    background-color: var(--color-axion);
}
.types-background {
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.profile-subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.profile-description {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}
.logo-studio-footer {
    color: #FFFFFF;
}